:root{
    --primeira-cor: #320E3B;
    --segunda-cor: #4C2A85;

    --borda: #6B7FD7;

    --fundo: #BCEDF6;
    --text: #DDFBD2;

}
    margin: 0%;
    padding: 0%;
}

    body{
        background-color: var(--fundo)
        color: var(--text)
        font-size: 30px;
     
    }
    h1{
        color: var(--primeira-cor)
    }

    .conteudo{
        display: flex;

        height: 200px;
    }

    .conteudo> .esquerda> img{
        width: 70px;
        height: 70px;
    }